.init-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* cámbialo si quieres */
}

.init-image {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  width: auto;
  object-fit: contain;
}
